<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>

  <body class="container container-fluid bg-secondary bg-opacity-10">
    <table class="table ms-auto me-auto text-center">
      <tr>
        <th>
          <a class="btn btn-primary" href="/create">Create!</a>
        </th>
        <th>ID</th>
        <th>Name</th>
      </tr>

      <% data.forEach(function(dat) { %>
      <tr>
        <td>
          <a class="btn btn-danger" href="/del/<%= dat.id%>" type="submit"
            >Del</a
          >
        </td>
        <td class="align-middle"><%= dat.id%></td>
        <td class="align-middle">
          <a href="/view/<%= dat.id%>" type="submit"><%= dat.bookName %></a>
        </td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
